.header_btn {
  @apply text-light-subtitle dark:text-dark-subtitle w-10 h-10 border border-light-border dark:border-dark-border rounded-full bg-light-bgHeader dark:bg-dark-bgHeader p-2;
}
@keyframes mymove {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal-animation {
  animation: mymove 0.77s 1;
}
