@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-light-primary text-black;
  }
  body.dark {
    @apply bg-dark-primary text-white;
  }
  .container {
    @apply border border-light-border dark:border-dark-border mx-auto bg-light-secondary dark:bg-dark-secondary px-4;
  }
  .centered {
    @apply flex justify-center items-center;
  }
  .divider {
    @apply bg-light-border dark:bg-dark-border;
    height: 1px;
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
  body.arabic .divider {
    margin-left: 0;
    margin-right: -2rem;
  }
}

body.arabic {
  direction: rtl;
}
