.swiper-button-prev,
.swiper-button-next {
  width: 28px !important;
  height: 28px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  font-weight: 700;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 22px !important;
    height: 22px !important;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 11px !important;
  }
}
.swiper-slide{
  width: 100%;
  display: flex;
  justify-content: center;
}
